/* .App {
  text-align: center;
} */

/* .App-header {

} */

body {
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.App-link {
  color: #61dafb;
}
.my-node-enter {
  opacity: 1;
}
.my-node-enter-done {
  opacity: 1;
  transition: opacity 200ms;
  height: 200px;
  background: white;
}
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 1;
  transition: opacity 200ms;
}